<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Zelestia">
      {assigns[:page_title]}
    </.live_title>
    <PhoenixVite.Components.assets
      names={["js/app.js", "css/app.css"]}
      manifest={{:zelestia, "priv/static/.vite/manifest.json"}}
      dev_server={PhoenixVite.Components.has_vite_watcher?(ZelestiaWeb.Endpoint)}
      to_url={fn p -> if PhoenixVite.Components.has_vite_watcher?(ZelestiaWeb.Endpoint) do
        "http://#{@conn.host}:5173/#{String.trim_leading(p, "/")}"
      else
        static_url(@conn, p)
      end
    end}
    />
  </head>
  <body>
    {@inner_content}
  </body>
</html>

<style>
  body{
    --theme-background: #190134;
    --theme-middle-background: #392551;
    --theme-middle-foreground: #9c92a8;
    --theme-foreground: #bdb6c5;
    --theme-accent: #feffff;
    --theme-border: #5a496e;
}

body{
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  background-color: var(--theme-background);
}
</style>