<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Zelestia">
      {assigns[:page_title]}
    </.live_title>
    <PhoenixVite.Components.assets
      names={["js/app.js", "css/app.css"]}
      manifest={{:zelestia, "priv/static/.vite/manifest.json"}}
      dev_server={PhoenixVite.Components.has_vite_watcher?(ZelestiaWeb.Endpoint)}
      to_url={fn p -> if PhoenixVite.Components.has_vite_watcher?(ZelestiaWeb.Endpoint) do
        "http://#{@conn.host}:5173/#{String.trim_leading(p, "/")}"
      else
        static_url(@conn, p)
      end
    end}
    />
  </head>
  <body>
    {@inner_content}
  </body>
</html>
